{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": "70",
          "edge": "44",
          "firefox": "64",
          "safari": "12"
        }
      }
    ]
  ]
}
