body {
    overflow: hidden;
	background-color: black;
	font-family: 'Roboto', sans-serif;
}

#gameDisplay {
    float: left;
    border: 1px solid white;
}

#hudDisplay {
	color: white;
	float: right;
	width: 830px;
	height: 400px;
	font-size: 24px;
}

#logDisplay {
    bottom: 1px;
    height: 400px;
	padding: 25px;
	width: 86%;
    overflow: hidden;
	position: absolute;
	background-color: black;
	top: 490px;
}

.log-item {
	font-size: 20px;
	color: white;
}

.log-item:nth-child(4) {
	opacity: 0.8;
}
.log-item:nth-child(5) {
	opacity: 0.6;
}
.log-item:nth-child(6) {
	opacity: 0.4;
}
.log-item:nth-child(7) {
	opacity: 0.2;
}
.log-item:nth-child(n+8) {
	opacity: 0;
	display: none;
}
